.homepage-articles {
  article {
    h2 {
      margin: 40px 0 20px;
      font-size: 24px;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      word-spacing: 1px;
      line-height: 34px;
      margin: 20px 0;
      text-align: justify;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
