<div class="modal" id="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="js-dismiss-modal">&times;</span>
      <h6>Share your story</h6>
    </div>
    <div class="modal-body">
      <%= render 'form' %>
    </div>
    <div class="modal-footer">
      <button type="button" class="js-dismiss-modal">Cancel</button>
    </div>
  </div>
</div>
