<h1>Stories</h1>

<p class="new-story-link">
  <%= link_to 'Share a new story', new_story_path, remote: true %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="stories">
    <%= render @stories %>
  </tbody>
</table>

<br>
